<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://kit.fontawesome.com/092ad1aadf.js" crossorigin="anonymous" defer></script>

    {{!-- <script src="https://unpkg.com/browse/turbolinks@5.0.0/" defer></script> --}}
    <title>Coming Soon / Blank-Canvas</title>
  </head>
  <body>
    <ul class="slideshow">
      <li><span>Image 01</span></li>
      <li><span>Image 02</span></li>
      <li><span>Image 03</span></li>
      <li><span>Image 04</span></li>
      <li><span>Image 05</span></li>
      <li><span>Image 06</span></li>
    </ul>
    <nav class="nav container">
      <div class="nav__item">
        <a href="{{ __ "changeLocaleURL" }}" class="language">{{ __ "changeLocale" }}</a>
        <ul class="social-media">
          <p class="social-media__call-to-action">{{ __ "socialMedia"}}</p>
          {{!-- <li class="social-media__items">
            <a href=""><i class="fab fa-twitter"></i></a>
          </li> --}}
          <li class="social-media__items">
            <a href="https://www.facebook.com/Blank-Canvas-company-104087848214695" target="_blank"><i class="fab fa-facebook"></i></a>
          </li>
          <li class="social-media__items">
            <a href="https://www.linkedin.com/in/blank-canvas-830b89202/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          </li>
          <li class="social-media__items">
            <a href="https://www.instagram.com/blankcanvas.ca/?fbclid=IwAR0J7wyiP54G1txr0w4AfQkDwMY4iaNtmyPEq0L9zAKvko7uE8Jr_NdBnw8" target="_blank"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="cover"></div>
    <div class="content">
      <h1 class="content__title">Blank-Canvas</h1>
      <h4 id="subtitle" class="content__subtitle">{{ __ "subtitle" }}</h4>
      <div id="contentSubscribe" class="content__subscribe">
        <h5 class="mb-5">{{ __ "subscribe" }}</h5>
        <div class="content__email-box">
          <form class="form" action="">
            <div class="form-group">
              <input id="email" class="form-control mr-2" type="email" placeholder="{{ __ "emailPlaceholder" }}" />
              
              <button id="btnSubmit" class="btn btn-primary" type="submit">{{ __ "submit"}}</button>
              <p id="errorMsg" class="form-error">Please enter a valid email</p>
            </div>
            
          </form>
        </div>        
      </div>
      <div id="success" class="content__success">
          <h2>Confirm your email!</h2>
          <p>Last step is to confirm your with the link we've just sent to your email inbox.</p>
       </div>
    </div>

    <script>
      const contentSubscribe = document.getElementById("contentSubscribe"),
            subtitle = document.getElementById("subtitle"),
            email = document.getElementById("email"),
            errorMsg = document.getElementById("errorMsg"),
            btnSubmit = document.getElementById("btnSubmit"),
            success = document.getElementById("success");
            
            
       function validateEmail(inputEmail){
          let emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;

          return emailPattern.test(inputEmail);
       }     
          

      email.addEventListener('input', () => {
        errorMsg.style.display = "none";
      })


      btnSubmit.addEventListener('click', (event) => {
        event.preventDefault();

        if(email.value === null || email.value === "") {
          errorMsg.style.display = "block";
        } else if(!validateEmail(email.value)) {
          errorMsg.style.display = "block";
        } else {
          let data = {
            method: 'POST',
            body: JSON.stringify({email: email.value, json:true}),
            headers: {
              'Content-Type': 'application/json'
            }
          }

          fetch('/subscribe', data).then(res => {

            if(res.status >= 400 && res.status < 600) {
              errorMsg.textContent = "Something went wrong. Refresh and try again" 
            errorMsg.style.display = "block";
            } else {
              contentSubscribe.classList.add('invisible');
          subtitle.classList.add('invisible');
          success.style.display = "block";
            }
            
          });
        }
      });


    </script>
  </body>
</html>
