<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://kit.fontawesome.com/092ad1aadf.js" crossorigin="anonymous" defer></script>
  <script src="script.js" defer></script>
    <title>Coming Soon / Blank-Canvas</title>
  </head>
  <body>
    <ul class="slideshow">
      <li><span>Image 01</span></li>
      <li><span>Image 02</span></li>
      <li><span>Image 03</span></li>
      <li><span>Image 04</span></li>
      <li><span>Image 05</span></li>
      <li><span>Image 06</span></li>
    </ul>
    <nav class="nav container">
      <div class="nav__item">
        <a href="{{ __ "changeLocaleURL" }}" class="language">{{ __ "changeLocale" }}</a>
        <ul class="social-media">
          <p class="social-media__call-to-action">{{ __ "socialMedia"}}</p>
          {{!-- <li class="social-media__items">
            <a href=""><i class="fab fa-twitter"></i></a>
          </li> --}}
          <li class="social-media__items">
            <a href="https://www.facebook.com/Blank-Canvas-company-104087848214695" target="_blank"><i class="fab fa-facebook"></i></a>
          </li>
          <li class="social-media__items">
            <a href="https://www.linkedin.com/in/blank-canvas-830b89202/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          </li>
          <li class="social-media__items">
            <a href="https://www.instagram.com/blankcanvas.ca/?fbclid=IwAR0J7wyiP54G1txr0w4AfQkDwMY4iaNtmyPEq0L9zAKvko7uE8Jr_NdBnw8" target="_blank"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="cover"></div>
    <div class="content">
      <h1 class="content__title">Blank-Canvas</h1>
      <h4 id="subtitle" class="content__subtitle">{{ __ "subtitle" }}</h4>
      <div id="contentSubscribe" class="content__subscribe">
        <h5 class="mb-5">{{ __ "subscribe" }}</h5>
        <div class="content__email-box">
          <form class="form" action="">
            <div class="form-group">
              <input id="email" class="form-control mr-2" type="email" placeholder="{{ __ "emailPlaceholder" }}" />
              
              <button id="btnSubmit" class="btn btn-primary" type="submit">{{ __ "submit"}}</button>
              <p id="errorMsg" class="form-error">{{ __ "enterValidEmail" }}</p>
            </div>
            
          </form>
        </div>        
      </div>
      <div id="success" class="content__success">
          <h2>{{ __ "confirmEmail" }}</h2>
          <p>{{ __ "confirmEmailInstructions" }}</p>
       </div>
       <div id="error" class="content__error">
          <h2>{{ __ "serverFail" }}</h2>
       </div>
    </div>
  </body>
</html>
